.cartCard{
    border: 1px solid var(--border);
    border-radius: 0.8rem;
    width: 50%;
    padding: 1rem;
    display: flex;         
    align-items: center;    
    gap: 1.5rem;
    background-color: var(--white);              
}
.cartCards{
    display: grid;
    gap: 1rem;
    place-items: center;
}
.remove{
    background-color: rgb(254, 71, 71);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    margin-left: 7rem;
}
.decrease, .increase {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}
.qtyControls{
    display: flex;
    gap:0.6rem;
    align-items: center;
    margin-left: 5rem;
}
.cartCardText{
    display: block;
    gap: 1.5rem;
}
.emoji{
    background-color: #F0FDF4;
    border-radius: 0.5rem;
    padding:1.5rem;
    font-size: 2.5rem;
}
.cartImage {
    width: 20%;
    height: 15vh;
    object-fit: contain;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-shrink: 0;
}
.total{
    padding: 1.4rem;
    background-color: var(--white);
    width: 50%;
    border:1px solid var(--border);
    border-radius:0.8rem;
}
.totalItems{
    display: flex; 
    justify-content: space-between;
    color: #64748B;
    font-weight: 600;
}
.shipping{
    color: #64748B;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.totalPrice{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.proceed{
    border: none;
    background-color: var(--bbutton);
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 14rem;
    margin: 0rem 2.4rem;
}