.mainHome{
    background-color: #F8FAFC;
}
.productSearch {
    border: 1px solid var(--border);
}
.discover{
    text-align: center;
    padding-top: 5rem;
    font-weight: 900;
    font-size: 2.3rem;
}
.discoverText{
    text-align: center;
    color: #738297;
    font-weight: 500;
    margin-bottom: 1rem;
}
.inputs{
    display: flex;
    gap: 0.5rem;
    margin:0rem 15rem;
}