* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbar: #0F172A;
  --bbutton: #2563eb;
  --white: #ffffff;
  --gbutton: #94a3b8;
  --border:#e2e8f0;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color:#F8FAFC ;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-sm{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mt-2{ margin-top: 2rem; }
.mt-4{ margin-top: 4rem; }
.pb-4{ padding-bottom: 4rem; }
.text-center{ text-align: center; }